<ion-header>
  <ion-toolbar>
    <ion-title>Filtros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-accordion-group>
      <ion-accordion>
        <ion-item slot="header">
          <ion-label>Ordenar</ion-label>
        </ion-item>
        <ion-list slot="content">
          <ion-item>
            <ion-label (click)="filterSort('price', true)">Mayor precio</ion-label>
          </ion-item>
          <ion-item>
            <ion-label (click)="filterSort('price', false)">Menor precio</ion-label>
          </ion-item>
          <ion-item>
            <ion-label (click)="filterSort('name', true)">Por nombre A
              <ion-icon name="swap-horizontal-outline"></ion-icon>Z</ion-label>
          </ion-item>
          <ion-item>
            <ion-label (click)="filterSort('name', false)">Por nombre Z
              <ion-icon name="swap-horizontal-outline"></ion-icon>A</ion-label>
          </ion-item>
        </ion-list>
      </ion-accordion>
    </ion-accordion-group>
    <ion-accordion-group>
      <ion-accordion>
        <ion-item slot="header">
          <ion-label>Tipo</ion-label>
        </ion-item>
        <ion-list slot="content">
          <ion-item>
            <ion-icon name="beer-outline"></ion-icon>
            <ion-label (click)="filterType('drinks')" >Bebidas</ion-label>
          </ion-item>
          <ion-item>
            <ion-icon name="restaurant-outline"></ion-icon>
            <ion-label (click)="filterType('lunch')">Lunch</ion-label>
          </ion-item>
          <ion-item>
            <ion-icon name="fast-food-outline"></ion-icon>
            <ion-label (click)="filterType('food')">Comida</ion-label>
          </ion-item>
          <ion-item>
            <ion-icon name="boat-outline"></ion-icon>
            <ion-label (click)="filterType('sea')">Mar</ion-label>
          </ion-item>
        </ion-list>
      </ion-accordion>
    </ion-accordion-group>
    <ion-item>
      <ion-label (click)="filterAvailable(true)">Disponibles</ion-label>
    </ion-item>
    <ion-item>
      <ion-label (click)="filterAvailable(false)">Agotados</ion-label>
    </ion-item>
    <ion-item>
      <ion-label (click)="filterType('best_seller')">Mas vendidos</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Desde</ion-label>
      <ion-input [(ngModel)]="lower" type="number"></ion-input>
      <ion-label>Hasta</ion-label>
      <ion-input [(ngModel)]="higher" type="number"></ion-input>
    </ion-item>
  </ion-list>
  <ion-button expand=block (click)="filterButton()">
    Filtrar
  </ion-button>
  <ion-button expand="block" color="danger" (click)="clearFilter()">
    Limpiar
  </ion-button>
</ion-content>
